{% extends "layout.html" %}

{% block content %}
    {% if champ %}
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ champ.image.full }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ champ.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    {% if players %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Player name</th>
                                    <th scope="col">Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in players %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><a href="{% url 'web:player' player.0.name %}">{{ player.0.name }}</a></td>
                                        <td>{{ player.1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h1>Žádní hráči</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1>Champion nebyl nalezen</h1>
        </div>
    {% endif %}
{% endblock content %}
