{% extends "layout.html" %}

{% block content %}
    {% if player %}
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ player.get_profile_icon }}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ player.name }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Leagues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Champions</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">leagueName</th>
                                        <th scope="col">queueType</th>
                                        <th scope="col">position</th>
                                        <th scope="col">tier</th>
                                        <th scope="col">rank</th>
                                        <th scope="col">leaguePoints</th>
                                        <th scope="col">wins</th>
                                        <th scope="col">losses</th>
                                        <th scope="col">veteran</th>
                                        <th scope="col">inactive</th>
                                        <th scope="col">freshBlood</th>
                                        <th scope="col">hotStreak</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for league in leagues %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ league.leagueName }}</td>
                                            <td>{{ league.queueType }}</td>
                                            <td>{{ league.position }}</td>
                                            <td>{{ league.tier }}</td>
                                            <td>{{ league.rank }}</td>
                                            <td>{{ league.leaguePoints }}</td>
                                            <td>{{ league.wins }}</td>
                                            <td>{{ league.losses }}</td>
                                            <td>{{ league.veteran }}</td>
                                            <td>{{ league.inactive }}</td>
                                            <td>{{ league.freshBlood }}</td>
                                            <td>{{ league.hotStreak }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">championId</th>
                                        <th scope="col">championLevel</th>
                                        <th scope="col">championPoints</th>
                                        <th scope="col">lastPlayTime</th>
                                        <th scope="col">championPointsSinceLastLevel</th>
                                        <th scope="col">championPointsUntilNextLevel</th>
                                        <th scope="col">chestGranted</th>
                                        <th scope="col">tokensEarned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for champ in champions %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>
                                                {% if champ.champion_data %}
                                                    <a href="{% url 'web:champ' champ.champion_data.id %}">
                                                        <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ champ.champion_data.image.full }}">
                                                    </a>
                                                    {{ champ.champion_data.name }}
                                                {% else %}
                                                    {{ champ.championId }}
                                                {% endif %}
                                            </td>
                                            <td>{{ champ.championLevel }}</td>
                                            <td>{{ champ.championPoints }}</td>
                                            <td>{{ champ.lastPlayTime }}</td>
                                            <td>{{ champ.championPointsSinceLastLevel }}</td>
                                            <td>{{ champ.championPointsUntilNextLevel }}</td>
                                            <td>{{ champ.chestGranted }}</td>
                                            <td>{{ champ.tokensEarned }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1>Hráč nebyl nalezen</h1>
        </div>
    {% endif %}
{% endblock content %}
