{% extends "layout.html" %}


{% block content %}
<div class="container">
    Rotace
    <div class="row">
        <div class="col">
            <p>freeChampionIds</p>
            <ul class="list-group">
                {% for champ in data.freeChampionIds %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                <a href="{% url 'web:champ' champ.id %}">
                                    <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ champ.image.full }}">
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">{{ champ.name }}</div>
                                    <div class="col-12">{{ champ.title }}</div>
                                    <div class="col-12">{{ champ.blurb }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
        <p>freeChampionIdsForNewPlayers</p>
            <ul class="list-group">
                {% for champ in data.freeChampionIdsForNewPlayers %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                <a href="{% url 'web:champ' champ.id %}">
                                    <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ champ.image.full }}">
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-12">{{ champ.name }}</div>
                                    <div class="col-12">{{ champ.title }}</div>
                                    <div class="col-12">{{ champ.blurb }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <p>maxNewPlayerLevel - {{ data.maxNewPlayerLevel }}</p>
    </div> 
</div>
{% endblock content %}