{% extends "layout.html" %}

{% block title %}{{ food.name }}{% endblock title %}

{% block content %}
<img src="{{ food.image.url }}" width="500" alt="obrázek jídla">
<br>
<h2>Detail jídla {{ food.name }}</h2>
<br>
Cena: <b>{{ food.price }}</b> Kč
<br>
{% if food.desc is not None %}
<p>
    Popis: {{ food.desc }}
</p>
<br>
{% endif %}

{% if request.user.is_authenticated %}
<br>
<h4>Napište recenzi</h4>
<form method="post" action="{% url 'food' food.name %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Odeslat">
</form>
<br>
{% endif %}

{% if reviews %}
<br>
<hr>
<h4>Recenze</h4>
<table class="table">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Text</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.user }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}