{% extends "layout.html" %}

{% block title %}Food list{% endblock title %}

{% block content %}
    <h3>Jídla</h3>
    <ul>
        {% for food in foods %}
            <li><a href="{% url 'food' food.name %}">{{ food.name }} - {{ food.price }}Kč</a></li>
        {% endfor %}
    </ul>
{% endblock content %}