<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h2>Menu</h2>
    <ul>
        <li><a href="{% url 'index' %}">Domů</a></li>
        <li><a href="{% url 'food-list' %}">Seznam jídel</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'order-list' %}">Moje objednávky</a></li>
        <li><a href="{% url 'order-food' %}">Objednat jídlo</a></li>
        <li><a href="{% url 'logout' %}">Odhlásit se</a></li>
        
        {% else %}
        <li><a href="{% url 'login' %}">Přihlásit se</a></li>
        {% endif %}
    </ul>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>