{% extends "layout.html" %}

{% block title %}Objednávka č. {{ order.id }}{% endblock title %}

{% block content %}
<h3>Objednávka č.{{ order.id }}</h3>
<br>
Datum: {{ order.to_date }}
<br>
Jídlo: <a href="{% url 'food' order.food.name %}">{{ order.food.name }}</a>
{% endblock content %}