{% extends "layout.html" %}

{% block title %}Objednávky{% endblock title %}

{% block content %}

<h3>Objednávky</h3>
<ul>
{% for order in orders %}
    <li><a href="{% url 'order' order.id %}"># {{ order.id }} - {{ order.food.name }}</a></li>
{% endfor %}
</ul>

{% endblock content %}